{% extends "base.html" %}
{% block title %}Home{% endblock title %}

{% block body %}
<div class="center-block">
    <div class="block-wrapper">
        <div class="block1">
            <a href="{% url 'image' %}" style="text-decoration: none ; color: inherit;" title="image_to_text"
                class="block-link">
                <div class="icon animate__animated animate__fadeInDown ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="400" height="64" viewBox="0 0 50 50">
                        <path
                            d="M17.676 34.344h9.55c2.477 0 3.375-.258 4.28-.742a5.04 5.04 0 0 0 2.098-2.102c.484-.902.742-1.8.742-4.277v-9.547H44.82c1.8 0 2.453.188 3.113.54s1.176.87 1.527 1.527.54 1.31.54 3.113V44.82c0 1.8-.187 2.453-.54 3.113a3.69 3.69 0 0 1-1.527 1.527c-.66.352-1.312.54-3.113.54H22.855c-1.8 0-2.453-.187-3.113-.54s-1.172-.87-1.527-1.527-.54-1.312-.54-3.113zm0 0"
                            fill-rule="evenodd" fill="rgb(98.431373%,93.72549%,65.882353%)"></path>
                        <path
                            d="M43.94 37.137c0-.477-.395-.863-.883-.863s-.883.387-.883.863v3.844l-5.145-5.047c-.348-.34-.902-.34-1.25 0a.85.85 0 0 0-.258.609.86.86 0 0 0 .258.613l5.145 5.05h-3.914c-.488 0-.883.387-.883.867s.395.867.883.867h6.05c.113-.004.227-.023.336-.07a.87.87 0 0 0 .477-.465c.05-.105.066-.22.066-.332l.004-5.934zm0 0"
                            fill="rgb(71.764706%,62.745098%,0.392157%)"></path>
                        <g fill-rule="evenodd">
                            <path
                                d="M5.184 0h21.988c1.8 0 2.453.188 3.113.54.652.344 1.184.88 1.527 1.53.352.656.54 1.313.54 3.113v21.984c0 1.805-.187 2.457-.54 3.117-.344.648-.875 1.184-1.527 1.527-.66.352-1.312.54-3.113.54H5.184c-1.8 0-2.457-.187-3.113-.54-.652-.344-1.184-.88-1.527-1.527C.188 29.625 0 28.973 0 27.168V5.184c0-1.8.188-2.457.54-3.113.344-.652.88-1.184 1.53-1.53S3.383 0 5.184 0zm0 0"
                                fill="rgb(83.921569%,74.901961%,17.647059%)"></path>
                            <path
                                d="M10.28 12.945v4.688c0 1.66-.926 2.66-2.707 2.66C5.406 20.293 5 18.852 5 18.07c0-.668.31-1.098.86-1.098.648 0 .813.504.813 1.05 0 .516.242.89.88.89.594 0 .926-.44.926-1.3V12.95c0-.54.352-.898.902-.898s.902.36.902.898zm1.672 6.402v-6.102c0-.8.418-1.055 1.055-1.055h2.762c1.516 0 2.738.75 2.738 2.508 0 1.44-1 2.508-2.75 2.508h-2v2.152c0 .54-.355.902-.902.902s-.902-.363-.902-.902zm1.805-5.773v2.242h1.68c.727 0 1.266-.437 1.266-1.12 0-.793-.56-1.12-1.45-1.12zm13.285 3.1v2.984c0 .332-.254.602-.613.602-.52 0-.66-.32-.773-1.023-.516.648-1.23 1.066-2.352 1.066-2.793 0-3.863-1.926-3.863-4.145 0-2.676 1.672-4.148 4.125-4.148 2.004 0 3.07 1.2 3.07 1.902 0 .63-.46.793-.848.793-.89 0-.56-1.242-2.32-1.242-1.242 0-2.223.813-2.223 2.816 0 1.56.77 2.637 2.246 2.637.957 0 1.793-.648 1.88-1.617H24.2c-.383 0-.812-.14-.812-.69 0-.44.254-.69.703-.69h2.223c.527 0 .738.262.738.758zm0 0"
                                fill="rgb(100%,100%,100%)"></path>
                        </g>
                    </svg><br><br>
                    <h3 class="heading animate__animated animate__fadeInDown">Image To Code</h3>
                    <div class="description">
                        <p>Convert scanner images to code with live preview feature. Simply upload your image and our
                            system
                            will convert them to code for you.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
<style>
    .heading {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 20px;
        color: var(--text-color);

    }

    .center-block {
        margin: 0; /* Remove all margins */
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100vh; /* Full viewport height */
        overflow: hidden; /* Prevent scrolling */
        box-sizing: border-box; /* Ensure padding and borders are included in height */

    }

    body, html {
        margin: 0; /* Remove default margins */
        padding: 0; /* Remove default padding */
        overflow: hidden; /* Prevent scrolling on the entire page */
        height: 100%; /* Ensure body and html take full height */
    }

    .block1 {
        background-color: var(--block-bg);
        margin-top: -200px;
        margin-right: 20px;
        margin-left: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        flex-basis: 30%;
        max-width: 30%;
        height: 55vh;
        color: var(--text-color);
        max-width: 439px;
        overflow: hidden;
        box-sizing: border-box;
    }

    /* Media queries for responsiveness */
    @media (max-width: 1200px) {
        .block1 {
            margin-right: 20px;
            margin-left: 20px;
        }
    }

    @media (max-width: 992px) {
        .block1 {
            margin-right: 10px;
            margin-left: 10px;
            width: 60%;
        }
    }

    @media (max-width: 768px) {
        .block1 {
            margin-right: 5px;
            margin-left: 5px;
            width: 80%;
        }
    }

    @media (max-width: 480px) {
        .block1 {
            margin-right: 0;
            margin-left: 0;
            width: 100%;
        }
    }

    :root {
        --mode: light;
    }

    :root.light-mode {
        --block-bg: #fff;
        --text-color: #333
    }

    :root.dark-mode {
        --block-bg: #333;
        --text-color: #fff;
    }



    /* Animation */
    .animate__animated {
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    .animate__fadeInDown {
        animation-name: fadeInDown;
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translateY(-100px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* Add animation on click */
    .block-wrapper {
        position: relative;
        transition: transform 0.1s;

    }

    .block-wrapper:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: opacity 0.1s;
    }

    .block-wrapper.clicked {
        transform: scale(0.9);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    .block-wrapper.clicked:after {
        opacity: 1;
        animation: pulseAnimation 0.2s;
    }

    @keyframes pulseAnimation {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }
</style>
<script>
    // Add event listener to block links
    document.querySelectorAll('.block-wrapper').forEach(wrapper => {
        wrapper.addEventListener('click', () => {
            const link = wrapper.querySelector('.block-link');
            wrapper.classList.add('clicked');
            setTimeout(() => {
                link.click();
            }, 200); // add a 200ms delay before navigating to the next page
            setTimeout(() => {
                wrapper.classList.remove('clicked');
            }, 500);
        });
    });
</script>
{% endblock body %}